@model _02_MVC.Models.Paciente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cedula
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.fechaNacimiento)
        </dd>

        <dt>
            Peso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

        <dt>
            Altura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altura)
        </dd>

        <dt>
            Foto
        </dt>

        <dd>
            <img src="@Url.Content("~/Usuarios/" + Model.foto)" width="100px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codPaciente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
